@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./vendor/react-tooltip.css');
@import url('./vendor/font-awesome/css/font-awesome.min.css');
@import url('./vendor/nucleo/css/nucleo.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
