@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  :root {
    --background: #dfe5f2;
    --foreground: #000000;
    --main: #6C90FF;
    --main-foreground: #000000;
    --border: #000000;
    --secondary-background: #e8ecf4;
    --ring: #000000;
    --radius: 5px;
    --muted-foreground: #374151;
  }
  .dark {
    --background: #272933;
    --foreground: #eeefe9;
    --main: #6C90FF;
    --main-foreground: #000000;
    --border: #000000;
    --secondary-background: #212121;
    --ring: #eeefe9;
    --muted-foreground: #9ca3af;
  }
}

@layer components {
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3 {
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .dark .markdown-body h1,
  .dark .markdown-body h2,
  .dark .markdown-body h3 {
    color: #fafafa;
  }
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .dark .markdown-body h4,
  .dark .markdown-body h5,
  .dark .markdown-body h6 {
    color: #fafafa;
  }
  .markdown-body p {
    margin-bottom: 1rem;
    line-height: 1.625;
  }
  .markdown-body ul,
  .markdown-body ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .markdown-body li {
    list-style-type: disc;
  }
  .markdown-body a {
    color: #4d80e6;
    text-decoration: underline;
  }
  .markdown-body a:hover {
    color: #2563eb;
  }
  .dark .markdown-body a {
    color: #88aaee;
  }
  .dark .markdown-body a:hover {
    color: #a5c4ff;
  }
  .markdown-body img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }
  .markdown-body blockquote {
    border-left: 4px solid #88aaee;
    padding-left: 1rem;
    font-style: italic;
    color: #495057;
    margin-bottom: 1rem;
  }
  .dark .markdown-body blockquote {
    color: #dee2e6;
  }
  .markdown-body pre {
    background-color: #f1f3f5;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    overflow-x: auto;
  }
  .dark .markdown-body pre {
    background-color: #495057;
  }
  .markdown-body code {
    background-color: #e9ecef;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
  }
  .dark .markdown-body code {
    background-color: #495057;
  }
}
