name: Deploy to Heroku

on: push

jobs:
  deploy-to-heroku:
    name: Deploy Code to Heroku
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with: 
          ref: 'develop'
      - name: Release and Generate Changelog
        run: |
          npm install
          npm run release
          git push -f initial-setup
        env:
          DEFAULT_BRANCH: develop
          GITHUB_TOKEN: ${{ secrets.CUSTOM_TOKEN }}
      # - name: Deploy to Heroku
      #   uses: akhileshns/heroku-deploy@v3.4.6
      #   with: 
      #     heroku_api_key: ${{HEROKU_API_KEY}}
      #     heroku_app_name: "ps11-next"
      #     heroku_email: "prasheelsoni11@gmail.com"